#date-abstract:before {
  content: "February 04, 2019";
}
#date-submission:before {
  content: "February 11, 2019";
}
#date-notification:before {
  content: "April 01, 2019";
}
#date-cameraready:before {
  content: "April 15, 2019";
}
#date-conference:before {
  content: "June 24 - June 25, 2019";
}
#date-place:before {
  content: "June 24 - 25, 2019, Lausanne, Switzerland";
}
