#date-abstract:before {
  content: "January 20, 2019";
}
#date-submission:before {
  content: "January 27, 2019";
}
#date-notification:before {
  content: "March 10, 2019";
}
#date-cameraready:before {
  content: "March 31, 2019";
}
#date-conference:before {
  content: "June 24 - June 25, 2019";
}

