html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.79em;
  color: #00284f;
  min-height:100%;
  position:relative;
  padding-bottom: 30px
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

p {
  text-align: justify;
}

.all {
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 20px;
  width: 938px;
}

.content {
  width: 938px;
  position: absolute;
  border: rgb(74, 89, 102) solid 1px;
}

.top-logo {
  position: relative;
  height: 177px;
  width: 938px;
  background-image: url("/images/top.jpg");
  background-repeat: no-repeat;
  border-bottom: solid 1px rgb(74, 89, 102);
}

.top-logo-abbrev {
  position: absolute;
  font-size: 46px;
  font-weight: bold;
  width: 100%;
  border-bottom: solid 1px rgb(74, 89, 102);
}

.top-logo-abbrev span.year {
  color: rgb(92, 170, 234);
}

.top-logo-info {
  position: absolute;
  right: 30px;
  top: 70px;
  text-align: right;
  line-height: 25px;
}

.top-logo-info span.edition {
  font-size: 14px;
}

.top-logo-info span.name {
  font-size: 20px;
  font-weight: bold;
}

.top-logo-info span.date-place {
  font-size: 12px;
  color: rgb(58, 101, 215);
}

.main {
  width: 938px;
  padding: 0px;
}

.nav {
  width: 180px;
  min-height: 600px;
  height: 100%;
  float: left;
  background-image: url("/images/left.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

nav ul {
  background-color: rgb(217, 222, 227);
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  border-bottom: solid 1px rgb(74, 89, 102);
  border-right: solid 1px rgb(74, 89, 102);
  padding: 2px 2px 2px 8px;
}

a, a:visited {
  text-decoration: none;
  color: #02449c;
}

a:hover {
  color: #fb9f00;
}

.middle {
  width: 543px;
  float: left;
  padding: 10px;
}

.title {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: solid 2px #6aaee3;
}

.right {
  width: 195px;
  padding-top: 10px;
  float: right;
}

.dates {
  background-color: rgb(49,84,133);
  color: #fafafa;
  padding: 5px;
  font-size: 0.79em;
  margin-bottom: 10px;
}

.organizers {
  background-color: rgb(217, 222, 227);
  padding: 5px;
  font-size: 0.79em;
  border-left: solid 1px rgb(74, 89, 102);
  border-top: solid 1px rgb(74, 89, 102);
  border-bottom: solid 1px rgb(74, 89, 102);
}

#local-imgs {
  margin-bottom: 10px;
  padding: 0px;
  height: 50px;
}

.local-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 49%;
  height: 50px;
}

#local-img1 {
  background-image: url("/images/minipic1.jpg");
  float: left;
}

#local-img2 {
  background-image: url("/images/minipic3.jpg");
  float: right;
}

#springer-img {
  background-image: url("/images/springer.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  padding: 10px;
}

.footer {
  position: absolute;
  left: -1px ; right: 0; bottom: -35px;
  height: 20px;
  margin-bottom: 5px;
  width: 933px;
  border: solid 1px rgb(74, 89, 102);
  background-color: rgb(217, 222, 227);
  padding-top: 5px;
  padding-right: 5px;
  vertical-align: middle;
  text-align: right;
}

.map {
  margin-top: 10px;
  border: rgb(128, 128, 128) solid 1px;
}

table.previous {
  color: #666666;
}

table.previous tr td:nth-child(2) {
  padding-left: 7px;
}
